:root {
    --kakaoBg: #f3da01;
    --kakaoFont: #3b1c1d;
    --naverBg: #2DB400;
    --facebookBg: #264da3;
    --googleBg: #DF4A32;
    --shadow: #ececec;
    --mc: #383838;
    --sc: #dfdfdf;
    --red: #ff6c6c;
    --point: #ed234b;
}

#header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
    transition: transform 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s;
}

#header .header-wr {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
}

.header_logo {
    margin: 0 20px; /* 로고와 장바구니 사이의 간격 추가 */
}

.header_cart {
    display: flex; /* 플렉스 박스를 사용하여 나란히 배치 */
    align-items: center; /* 수직 정렬 */
    margin-left: auto; /* 로고 오른쪽으로 이동 */
}

.header_cart a {
    display: flex; /* 아이콘과 텍스트를 수평으로 배치 */
    align-items: center; /* 아이콘과 텍스트 수직 정렬 */
    color: #ccc; /* 텍스트 색상 */
    text-decoration: none; /* 텍스트 언더라인 제거 */
    margin-left: 10px; /* 각 항목 간의 간격 조정 */
}

.header_cart i {
    font-size: 20px; /* 아이콘 크기 */
    margin-right: 5px; /* 아이콘과 텍스트 간의 간격 */
}

.header_cart .basker_count {
    font-size: 14px; /* 장바구니 텍스트 크기 */
}

/* 상단 내비게이션 바 스타일 */
.top_menu_bar {
    position: fixed;
    top: 60px; /* 헤더 아래 위치 */
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgb(244, 244, 244);
    box-sizing: border-box;
}

.top_menu_bar ul {
    display: flex;
    height: 60px;
    align-items: center;
}

.top_menu_bar ul li {
    flex: 1;
    text-align: center;
}

.top_menu_bar ul li a {
    color: #ccc;
}

.top_menu_bar ul li a i {
    font-size: 20px;
    margin-bottom: 5px;
}

.top_menu_bar ul li.active a {
    color: var(--point);
}
