/* 전체 버튼 스타일 */
[class^='btnNormal'], a[class^='btnNormal'],
[class^='btnSubmit'], a[class^='btnSubmit'],
[class^='btnEm'], a[class^='btnEm'],
[class^='btnBasic'], a[class^='btnBasic']{min-width: 60px; color:#222; display:inline-block; box-sizing:border-box; padding:2px 8px; border:1px solid #dedede; border-radius:0; font-size:11px; line-height:18px; font-weight:normal; text-decoration:none; vertical-align:middle; word-spacing:-0.5px; letter-spacing:0; text-align:center; white-space:nowrap; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s;  transition: all 0.5s;background: #fff;}

[class^='btnNormal'].disabled,
[class^='btnSubmit'].disabled,
[class^='btnEm'].disabled,
[class^='btnBasic'].disabled { border-color:#ccc; background-color:#ccc; color:#222; }